body {
    background-color: black;
    height: fit-content;
}

header {
    text-align: center;
    font-family: "Dela Gothic One", cursive;
    padding-top: 20px;
}

h1 {
    color: white;
}

nav {
    /* display: flex;
    align-items: center; */
    width: 100%;
    height: 40px;
    background-color: red;
}

footer {
    height: 70px;
    background-color: chocolate;
}

.container {
    margin-left: auto;
    margin-right: auto;
    /* width: 1024px; */
}

a:link {
    text-decoration: none !important;
}

.card {
    width: 240px;
    height: 330px;
    display: flex;
    background-color: white;
    text-align: center;
    align-items: center;
    border-radius: 7px;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.card h1 {
    color: black;
    font-size: 30px;
}

.card img {
    margin-top: 3px;
    width: 230px;
}

.thisDiv {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    /* padding-top: 10px; */
}

* {
    outline: 2px solid red;
}