<!DOCTYPE html>
<html>

<head>
    <title>Groupie Data</title>
    <link rel="stylesheet" href="css/styles.css" />
</head>

<body>
    <header>
        <div class="gtitle" style="text-align:center; font-family: 'Dela Gothic One', cursive;">Groupie Data</div>
        <div class="abtme"><a href="aboutme.html">About</a></div>
    </header>
    <main>

        <form action="/id=" method="POST">
            <div id="content" class="grid-container">{{range .Groupie}}
                <a href="/artist?id={{.ID}}" name="artist" value="{{.ID}}" method="POST" alt="{{.Name}}">
                    <div class="box"
                        style="background-image: url('{{ .Image}}'); background-repeat: no-repeat; background-size: cover; "
                        alt="" class="expanded-width image image-default image-2" data-image-width="1380"
                        data-image-height="920">
                        <div class="name slay">
                            <h3 class="text text-5">{{ .Name}}</h3>
                        </div>
                </a>
            </div>
            {{end}}
            </div>
    </main>
</body>

</html>

<!-- <table>
            <div>
                <tr>
                    <th>Artists</th>
                    <th>Location</th>
                    <th>Dates</th>
                    <th>Relation</th>
                </tr>
                {{range .Groupie}}
                <tr>
                    <td>{{.Name}}</td>
                    <td>{{.Locations}}</td>
                    <td>{{.CreationDate}}</td>
                    <td>{{.Relations}}</td>
                </tr>
                {{end}}
            </div>

        </table> -->