@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&display=swap");

body,
html {
  margin: 0;
}

body {
  background-color: #030005;
}

body::-webkit-scrollbar {
  display: none;
}

header {
  height: 30vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #030005;
}

.gtitle {
  font-size: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
  width: 100vw;
  font-family: "IBM Plex Mono", monospace, sans-serif;
  background: linear-gradient(
    to right,
    #c656a1 20%,
    #d07ce1 40%,
    #8400ff 60%,
    #e72a2a 80%
  );
  background-size: 50vh 50vh;
  color: #000;
  background-clip: text;
  animation: tshine 0.5s linear infinite;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

@keyframes tshine {
  to {
    background-position: 80% center;
  }
}

.radio-input {
  display: flex;
  flex-direction: row;
  font-family: "IBM Plex Mono", monospace, sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: white;
}

.radio-input input[type="radio"] {
  display: none;
}

.radio-input label {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #212121;
  border-radius: 5px;
  margin-right: 12px;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.radio-input label:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #ccc;
  transition: all 0.3s ease-in-out;
}

.radio-input input[type="radio"]:checked + label:before {
  background-color: pink;
  top: 0;
}

.radio-input input[type="radio"]:checked + label {
  background-color: rgb(1, 4, 166);
  color: #fff;
  border-color: rgb(129, 235, 129);
  animation: radio-translate 0.5s ease-in-out;
}

@keyframes radio-translate {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateX(0);
  }
}

main,
form {
  margin-top: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3em;
}

/* @import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&display=swap");

body,
html {
  margin: 0;
}

body {
  background-color: #030005;
}

body::-webkit-scrollbar {
  display: none;
}

header {
  height: 30vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #030005;
}

.gtitle {
  font-size: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
  width: 100vw;
  font-family: "IBM Plex Mono", monospace, sans-serif;
  background: linear-gradient(to right,
      #c656a1 20%,
      #d07ce1 40%,
      #8400ff 60%,
      #e72a2a 80%);
  background-size: 50vh 50vh;
  color: #000;
  background-clip: text;
  animation: tshine 0.5s linear infinite;

  @keyframes tshine {
    to {
      background-position: 80% center;
    }
  }

  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.radio-input {
  display: flex;
  flex-direction: row;
  font-family: "IBM Plex Mono", monospace, sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: white;
}

.radio-input input[type="radio"] {
  display: none;
}

.radio-input label {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #212121;
  border-radius: 5px;
  margin-right: 12px;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.radio-input label:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #ccc;
  transition: all 0.3s ease-in-out;
}

.radio-input input[type="radio"]:checked+label:before {
  background-color: pink;
  top: 0;
}

.radio-input input[type="radio"]:checked+label {
  background-color: rgb(1, 4, 166);
  color: #fff;
  border-color: rgb(129, 235, 129);
  animation: radio-translate 0.5s ease-in-out;
}

@keyframes radio-translate {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateX(0);
  }
}

main,
form {
  margin-top: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3em;
} */